/* blue has to be very bright, and green has to be very dull, due to the blue on green ls output in ubuntu for folders with permissions*/
.cuttlefish {
  --green: #259753;
  --blue: #0ff;
}

.cuttlefish .blue-on-green {
  background-color: var(--green);
  color: var(--blue);
  margin: 5px;
}

.cuttlefish .black {
  color: #bbb;
}

.cuttlefish .blue {
  color: var(--blue);
}

.cuttlefish .brightblack {
  color: #e98962;
}

.cuttlefish .brightblue {
  color: #00bfff;
}

.cuttlefish .brightcyan {
  color: #0eb;
}

.cuttlefish .brightgreen {
  color: #0e0;
}

.cuttlefish .brightmagenta {
  color: #a9f;

}

.cuttlefish .brightred {
  color: #f44;
}

.cuttlefish .brightwhite {
  color: #fff;
}

.cuttlefish .brightyellow {
  color: #fc0;
}

.cuttlefish .cyan {
  color: #8dd;
  color: #7db;
  color: #62cca9;
}

.cuttlefish .green {
  color: var(--green);
}

.cuttlefish .magenta {
  color: #f58;
}

.cuttlefish .red {
  color: #e6a8b7;
}

.cuttlefish .white {
  color: #ddd;
}

.cuttlefish .yellow {
  color: #dd0;
}

body.cuttlefish {
  background-color: #132a2d;
  color: white;
  font-size: 15px;
}
