/* blue has to be very bright, and green has to be very dull, due to the blue on green ls output in ubuntu for folders with permissions*/
.sepia {
  --blue: #004491;
  --green: #6faa00;
}

.sepia .blue-on-green {
  background-color: var(--green);
  color: var(--blue);
  margin: 5px;
}

.sepia .black {
  color: #443826;
}

.sepia .blue {
  color: var(--blue);
}

.sepia .brightblack {
  color: #000;
}

.sepia .brightblue {
  color: #09d;
}

.sepia .brightcyan {
  color: #066;
}

.sepia .brightgreen {
  color: #094;
}

.sepia .brightmagenta {
  color: #f28e;
}

.sepia .brightred {
  color: #f00;
}

.sepia .brightwhite {
  color: #fff;
}

.sepia .brightyellow {
  color: #f60;
}

.sepia .cyan {
  color: #098;
  color: #008b8b;
}
.sepia .green {
  color: var(--green);
}

.sepia .magenta {
  color: #909;
}

.sepia .red {
  color: #c10;
}

.sepia .white {
  color: #777;
}

.sepia .yellow {
  color: #9b6a00;
}

body.sepia {
  background-color: #eadcba;
  color: black;
  font-size: 15px;
}
