.grey {
	color: #0008;
	color: #222b;
	color: #333b;
	color: #334b;
	color: #323a;
	color: #102a;
	color: #3239;
	color: #2118;
	color: #8d796b;

}

.silver {
	color: #999c;
	color: #999d;
}

.red {
	color: #f00;
}

.maroon {
	color: #c10c;
}

.green {
	color: #094e;

}

.blue {
	color: #07ac;
	color: #08ad;
	color: #08bd;
}

.yellow {
	color: #b82;
	color: #971c;
	color: #b93;
	color: #a82d;
	color: #bb9a38;
	color: #b69235;
	color: #b39330;
	color: #b69235f5;
	color: #b79533;
}

.purple {
	color: #909a;
}

.cyan {
	color: #2a9;
	color: #099e;
	color: #20a195;
	color: #30a195;
}

.orange {
	color: #f77b00e6;
	color: #f67a00;
	color: #f77b00;

}

.olive {
	color: #890;
}

.pink {
	color: #fd45ad;
	color: #f7c;
	color: #f08c;
}

.teal {
	color: #088;
}

.tan {
	color: #974c;
	color: #963c;
	color: #97733dd0;
}

.magenta {
	color: #b36e;
	color: #bb3366d6;
	color: #b36d;
}

.black {
	color: #000;
	color: #2d2d2d;
}

body {
	padding-top: 30px;
	background-color: #fceecc;
	background-color: #fec;
	font-family: Consolas, monospace;
	font-size: 21px;
	max-width: 1000px;
	margin: auto;
}

section {
	margin-top: 50px;
}

span {
	padding: 3px
}
