
.default {
	color: #0009;
	color: #222b;
	color: #333b;
	color: #334b;
	color: #323a;
	color: #102a;
	color: #323a;
	color: #836e69;
}

.grey {
	color: #999d;
}

.red {
	color: #f00;
}

.cyan {
	color: #24a197;
	color: #099e;

}

.orange {
	color: #f77b00e6;
}

.olive {
	color: #890;
}

.maroon {
	color: #c10c;
}


.yellow {
	color: #b82;
}

.teal {
	color: #088;
}

.purple {
	color: #990099a5;
	color: #940094ab;
}

.tan {
	color: #974c;
	color: #963c;
	color: #97733dd0;
}

.blue {
	color: #08ad;
}

.magenta {
	color: #b36e;
	color: #bb3366d6;
	color: #b36d;
}

.green {
	color: #094e;


}

.black {
	color: #000;

}
body {
	padding-top: 30px;
	background-color: #fec;
	font-family: Consolas, monospace;
	font-size: 21px;
	max-width: 1000px;
	margin: auto;
}

section {
	margin-top: 50px;
}

span {
	padding: 3px
}
